@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

html {
    margin:0;
    height:100%;
}

body {
    margin:0;
    min-height:100%;

    display:flex;
    flex-direction:column;
}

main {
    display:flex;
    flex-grow:1;
    flex-direction:column;

    font-family: Montserrat;
    background-color:var(--bgp_3);
    color:var(--bgp_0);
}

ul {
    padding-left:10px;
}

.header {
    background-color:var(--bgp_1);
    color:var(--bgp_3);
    padding:5px;
}

.content {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 16px;
}

.content h3 {
    margin:0;
}

.content ul {
    margin:0;
}

.left-panel {
    flex-shrink:0;
    background-color:var(--bgp_2);
    padding:10px;
    font-size: 14px;
}

.left-panel > * {
    padding-left: 0px;
}

.left-panel h3 {
    padding-left: 10px;
}

.left-panel ul {
    padding-left: 30px;
    list-style: none;
}

.main-panel {
    padding:10px;
}

.experience-section {
    padding-left: 10px;
}

.experience-section > * {
    padding-left: 20px;
}

.experience-section h3 {
    padding-left: 0px;
}

span.first-letters {
    color:var(--bgp_1);
}

@media print {
    @page {
        size:A4;
        margin:0;
    }

    html, body, main {
        width:210mm;
        height:297mm;
    }

    .content {
        height:85%;
        font-size:14px;
    }
    
    .left-panel {
        /* width:25%; */
        height:100%;
        font-size:12px;
    }

    .main-panel {
        /* width:75%; */
        height:100%;
    }
}
