@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

html {
    margin:0;
    height:100%;
    background-color:var(--bgp_0);
}

body {
    margin:0;
    min-height:100%;
}

main {;
    font-family: Montserrat;
    color:var(--bgp_0);
    min-height:100%;
    display: grid;
    grid-template-rows:max-content auto;
}

ul {
    padding-left:10px;
}

.header {
    background-color:var(--bgp_1);
    color:var(--bgp_3);
    padding:5px;
}

.content {
    font-size: 16px;
    display: grid;
    grid-template-columns: max-content auto;
}

.content h3 {
    margin:0;
}

.content ul {
    margin:0;
}

.left-panel {
    background-color:var(--bgp_2);
    padding:10px;
    font-size: 14px;
}

.left-panel > * {
    padding-left: 0px;
}

.left-panel h3 {
    padding-left: 10px;
}

.left-panel ul {
    padding-left: 30px;
    list-style: none;
}

.main-panel {
    background-color:var(--bgp_3);
    padding:10px;
}

.experience-section {
    padding-left: 10px;
}

.experience-section > * {
    padding-left: 20px;
}

.experiences-list {
    list-style: none;
}

.experiences-list ul {
    list-style: none;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: 
        "title location period"
        "description description description";
  
}

.experiences-list ul li {
}

.experiences-list ul li h3 {
}

.experiences-list .title {
    grid-area: title;
}

.experiences-list .location {
    grid-area: location;
    color:var(--bgp_1);
}

.experiences-list .period {
    grid-area: period;
    color:var(--bgp_1);
}

.experiences-list .description {
    grid-area: description;
    padding-left:30px;
}

span.first-letters {
    color:var(--bgp_1);
}

@media print {
    @page {
        size:A4;
        margin:0;
    }

    html, body, main {
        width:210mm;
        height:297mm;
    }
    
    main {
        /* max-content not supported atm by weasyprintpdf... */
        grid-template-rows:13.3% auto;
    }

    .content {
        font-size:14px;    
        grid-template-columns: 28.6% auto;
    }
    
    .left-panel {
        font-size:12px;
    }
   
    .experiences-list .description {
        display:none;
    }
}
