:root, bgp0, bgp1, bgp2, bgp3, bgp4 {
    --bgp_0:#331e50;
    --bgp_1:#a63725;
    --bgp_2:#d68e49;
    --bgp_3:#f7e7c6;
}

.photo {
    content: url(photo_sgb.png);
    image-rendering: crisp-edges;
}

.groseille img {
    content: url("groseille_button_sgb.png");
    image-rendering: crisp-edges;
}